

.mat-table {
    overflow: auto;
    max-height: 1000px;
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 6px 15px;
      background: rgb(172, 167, 167);
    }
  }
  .mat-row { 
    background: rgb(172, 167, 167);
    border-bottom-color:white !important;
  }
  
  mat-header-cell {
   /* width: 10%; */
    color:white;
    background-color: #0f4c75;
  }
  
  .button1{
  
    background-color: rgb(24, 185, 24);
     color: white;   
  }
  
  .button1:hover{
  background-color: rgb(24, 22, 22);
  cursor: pointer;
  }
  
  .card{
    background-color:white;
  }
  
  .tittle
  {
   margin: auto;
   
  }
  .pageinater
  {
    background-color: rgb(51, 50, 50);
    color: white;
  }
  
  .newicon
  {
    color:blue ;
    font-size: 30px;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .toolbar_item{
    margin-left: 5% !important;
    cursor: pointer;
  }

  .toolbar_item1
  {
    margin-left: none !important;
    cursor: pointer;
  }